.input-radio {
    margin: 1em 0;
}

.input-radio input[type="radio"]:checked + label:before {
    border-color: black;
}

.input-radio input[type="radio"]:checked + label:after {
    background-color: black;
    transform: scale(1);
}

.input-radio input[type="radio"]:hover + label:before {
    border-color: black;
}

.input-radio input[type="radio"]:hover + label span {
    color: black;
}

.input-radio input[type="radio"]:checked + label span {
    color: black;
}

.input-radio input[type="radio"] + label span {
    color: grey;
    transition: all 0.3s;
}

.input-radio input[type="radio"]:focus + label:before {
    box-shadow: 0 0 4px black;
}

.input-radio input[type="radio"] {
    opacity: 0;
}

.input-radio input[type="radio"] + label {
    position: relative;
    cursor: pointer;
}

.input-radio input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: -24px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid grey;
    transition: all 0.3s;
}

.input-radio input[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: -20px;
    top: -4px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: all 0.3s;
}

.button-save {
    border-radius: 14px;
    background-color: grey;
    width: 50%;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.button-save:hover {
    background-color: black;
}

.button-save span {
    position: relative;
    transition: all 0.3s;
}

.button-save i {
    font-size: 120%;
    position: absolute;
    opacity: 0;
    left: -20px;
    transition: all 0.3s;
}

.button-save:hover span {
    padding-left: 25px;
}

.button-save:hover i {
    opacity: 1;
    left: 0;
}

.button-save-disabled {
    border-radius: 14px;
    background-color: grey;
    width: 50%;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    color: white;
    cursor: pointer;
    opacity: 0.6;
    cursor: not-allowed;
    transition: all 0.3s;
}

.button-save-disabled span {
    position: relative;
}
.button-save-disabled i {
    position: absolute;
    opacity: 0;
}
.ns-box.ns-other.ns-effect-thumbslider.ns-type-error#canceled {
    opacity: 0;
    transition: all 0.3s;
}

.ns-box.ns-growl.ns-effect-jelly.ns-type-error#canceled {
    opacity: 0;
    transition: all 0.3s;
}

.input-radio-night {
    margin: 1em 0;
}

.input-radio-night input[type="radio"]:checked + label:before {
    border-color: white;
}

.input-radio-night input[type="radio"]:checked + label:after {
    background-color: white;
    transform: scale(1);
}

.input-radio-night input[type="radio"]:hover + label:before {
    border-color: white;
}

.input-radio-night input[type="radio"]:hover + label span {
    color: white;
}

.input-radio-night input[type="radio"]:checked + label span {
    color: white;
}

.input-radio-night input[type="radio"] + label span {
    color: grey;
    transition: all 0.3s;
}

.input-radio-night input[type="radio"]:focus + label:before {
    box-shadow: 0 0 4px white;
}

.input-radio-night input[type="radio"] {
    opacity: 0;
}

.input-radio-night input[type="radio"] + label {
    position: relative;
    cursor: pointer;
}

.input-radio-night input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: -24px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid grey;
    transition: all 0.3s;
}

.input-radio-night input[type="radio"] + label:after {
    content: '';
    position: absolute;
    left: -20px;
    top: -4px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transform: scale(0);
    transition: all 0.3s;
}